[submodule "lib/LCD-Keypad-Shield-Wemos-D1-Arduino-UNO"]
	path = lib/LCD-Keypad-Shield-Wemos-D1-Arduino-UNO
	url = https://github.com/kolandor/LCD-Keypad-Shield-Wemos-D1-Arduino-UNO.git
[submodule "lib/Tasmota"]
	path = lib/Tasmota
	url = https://github.com/arendst/Tasmota.git
[submodule "lib/Arduino-cmd-processing"]
	path = lib/Arduino-cmd-processing
	url = git@github.com:shadowroot/Arduino-cmd-processing.git
